<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902724184441-mund6smq7mufle9ahnk5j5i2lbrjhp3a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902724184441-mund6smq7mufle9ahnk5j5i2lbrjhp3a</string>
	<key>API_KEY</key>
	<string>AIzaSyDgySkNK-Bo3xEztdWsl1-8KjldoY6TZdo</string>
	<key>GCM_SENDER_ID</key>
	<string>902724184441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS1320220817</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-425aa</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-425aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902724184441:ios:ef363ebd3e43f3cee4e7a8</string>
</dict>
</plist>